.tile-body .fa, .headingStyle,
.font-purple,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #000000 ;
}

.application-container, .bg-purple-studio,
.userPic, .purple, .userPic:hover,
.bg-after-purple:after, .bg-before-purple:before, .bg-hover-purple:hover,
.portlet > .portlet-body.blue, .portlet.blue,
.customIcon, .disabledCustomIcon, .table > thead:first-child > tr:first-child > th,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.FileUploadClass input {
    background-color: #1A6935 !important;
   
}

.purple {
    border-color: #3f51b5 !important;
}

.multibutton li.active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, #3f51b5), color-stop(0, #3f51b5)) !important;
    background-image: -webkit-linear-gradient(#3f51b5, #3f51b5) !important;
    border: solid 1px #3f51b5 !important;
    border-radius: 20px !important;
}