
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@if (ViewBag.OtherApplication == "1")
{
    <head runat="server">
        <title style="">Forgot Password</title>
        <link href="~/css/toastr.min.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" type="text/css" />
        <link href="~/css/bootstrap.min.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/uniform.default.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/components.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/plugins.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/layout.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/custom.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/default.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link rel="shortcut icon" href="~/images/1/favicon.ico" type="image/x-icon" />
        <script src="~/Scripts/jquery-3.3.1.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/Scripts/bootstrap.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/Scripts/toastr.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/Scripts/jquery.validate.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/ApplicationScripts/AjaxCommonMethods.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <style>
            .form-control.form-control-solid {
                border: 2px solid;
            }

            #Span1 {
                color: white;
                font-size: 20px;
                font-family: Bahnschrift;
                padding: 3px 50px 3px 6px;
            }

            body {
                overflow-y: hidden;
                background-color: #fff !important;
                background: url('../../images/Login/background.jpg') no-repeat fixed 0%;
                background-size: 100% 100%;
            }

            .lblLogin {
                font-family: Bahnschrift;
                font-size: 56.5px;
                color: white;
                padding-left: 3px;
            }



            .portalLabel, .offline > p {
                color: white;
                font-size: 28px;
                font-family: 'Bahnschrift';
                letter-spacing: -0.3px;
            }

            .links, .links:hover, .links:focus {
                text-decoration: none;
                color: white;
                font-size: 16px;
                font-family: Bahnschrift;
            }

            .textIcon {
                width: 40px;
                height: 40px;
                float: left;
                position: fixed;
                border: solid 6px #9e9e9e;
                border-radius: 5px;
            }

            .divLogin {
                float: right;
            }

            .loginButton, .loginButton:hover, .loginButton:focus {
                background-color: #da7012;
                padding: 3px 24px;
                border-radius: 5px !important;
                font-size: 22px;
                color: white;
                font-family: Bahnschrift;
                padding-top: 6px;
            }

            .textIcon > i {
                position: relative;
                top: 6px;
                left: 7px;
                font-size: 20px;
                color: #9e9e9e;
            }

            .textinput {
                background-color: #38485d !important;
                color: #fff !important;
                border: none;
                font-size: 20px;
                padding: 20px 10px;
                margin-left: 50px;
                margin-bottom: 20px;
                width: 350px;
                font-family: Bahnschrift;
            }


            #loginView {
                text-align: left;
                margin-top: 75px;
                float: none;
                display: inline-block;
            }


            @@media (min-width: 1366px) {
            }

            @@media (min-width: 1440px) {
            }

            @@media (max-width: 1600px) {

                #loginView {
                    width: 35%;
                }

                .leftLogo {
                    padding-top: 61px !important;
                }

                    .leftLogo img {
                        width: 250px;
                    }

                #rightLogo {
                    width: 130px
                }

                .portalLabel {
                    font-size: 20px;
                }
            }
        </style>
    </head>
}
else if (ViewBag.OtherApplication == "0")
{
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Forgot Password</title>
        <link href="~/css/toastr.min.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/login1.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/bootstrap.min.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/uniform.default.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/components.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/plugins.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/layout.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/custom.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/css/default.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link rel="shortcut icon" href="~/images/0/favicon.ico" type="image/x-icon" />
        <script src="~/Scripts/jquery-3.3.1.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/Scripts/bootstrap.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/Scripts/toastr.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/Scripts/jquery.validate.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/ApplicationScripts/AjaxCommonMethods.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <style>
            #backToLogin {
                color: #4F5E73;
                for text-decoration: none;
            }

                #backToLogin:hover {
                    color: #4F5E73;
                    text-decoration: none;
                }

            .image-grey {
                display: block;
                position: fixed;
                width: 100%;
                height: 100%;
                -webkit-filter: grayscale(100%);
                z-index: -1;
            }

            .purple {
                color: #fff;
                background-color: #6E2D91 !important;
                border-color: #6E2D91 !important;
                font-size: 13px;
            }
        </style>
    </head>
}
else if (ViewBag.OtherApplication == "2")
{
    <head runat="server">
        <title style="">Forgot Password</title>
        <link href="~/k6/css/toastr.min.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" type="text/css" />
        <link href="~/k6/css/bootstrap.min.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/k6/css/uniform.default.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/k6/css/components.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/k6/css/plugins.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/k6/css/layout.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/k6/css/custom.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link href="~/k6/css/default.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
        <link rel="shortcut icon" href="~/images/1/favicon.ico" type="image/x-icon" />
        <script src="~/Scripts/jquery-3.3.1.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/Scripts/bootstrap.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/Scripts/toastr.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/Scripts/jquery.validate.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <script src="~/ApplicationScripts/AjaxCommonMethods.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
        <style>
            .form-control.form-control-solid {
                border: 2px solid;
            }

            #Span1 {
                color: white;
                font-size: 20px;
                font-family: Bahnschrift;
                padding: 3px 50px 3px 6px;
            }

            body {
                overflow-y: hidden;
                background-color: #fff !important;
                background: url('../../k6/images/Login/background.jpg') no-repeat fixed 0%;
                background-size: 100% 100%;
            }

            .lblLogin {
                font-family: Bahnschrift;
                font-size: 56.5px;
                color: white;
                padding-left: 3px;
            }



            .portalLabel, .offline > p {
                color: white;
                font-size: 28px;
                font-family: 'Bahnschrift';
                letter-spacing: -0.3px;
            }

            .links, .links:hover, .links:focus {
                text-decoration: none;
                color: white;
                font-size: 16px;
                font-family: Bahnschrift;
            }

            .textIcon {
                width: 40px;
                height: 40px;
                float: left;
                position: fixed;
                border: solid 6px #9e9e9e;
                border-radius: 5px;
            }

            .divLogin {
                float: right;
            }

            .loginButton, .loginButton:hover, .loginButton:focus {
                background-color: #da7012;
                padding: 3px 24px;
                border-radius: 5px !important;
                font-size: 22px;
                color: white;
                font-family: Bahnschrift;
                padding-top: 6px;
            }

            .textIcon > i {
                position: relative;
                top: 6px;
                left: 7px;
                font-size: 20px;
                color: #9e9e9e;
            }

            .textinput {
                background-color: #38485d !important;
                color: #fff !important;
                border: none;
                font-size: 20px;
                padding: 20px 10px;
                margin-left: 50px;
                margin-bottom: 20px;
                width: 350px;
                font-family: Bahnschrift;
            }


            #loginView {
                text-align: left;
                margin-top: 75px;
                float: none;
                display: inline-block;
            }


            @@media (min-width: 1366px) {
            }

            @@media (min-width: 1440px) {
            }

            @@media (max-width: 1600px) {

                #loginView {
                    width: 35%;
                }

                .leftLogo {
                    padding-top: 61px !important;
                }

                    .leftLogo img {
                        width: 250px;
                    }

                #rightLogo {
                    width: 130px
                }

                .portalLabel {
                    font-size: 20px;
                }
            }
        </style>
    </head>
}

<body class="">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken();
    }
    @if (ViewBag.OtherApplication == "1")
    {
        <div id="mainouter-reset-password" class="mainouter container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 leftLogo" style="padding-left: 85px; padding-top: 85px;">
                        <div class="row">
                            <img src="~/images/Login/frame.png" alt="" />
                        </div>
                        @*<div class="row" style="padding-top: 15px;">
                                <span class="portalLabel">CIient Access Portal</span>
                            </div>*@
                    </div>
                    <div class="col-md-6" style="text-align: right; padding-right: 85px;">
                        <img id="rightLogo" src="~/images/Login/Gdd-logo.jpg" alt="" />
                    </div>
                </div>
                <div class="row image-container" style="text-align: center;">

                    <div class="col-md-3" id="loginView">

                        <div class="row">
                            <div class="col-md-12" style="padding-bottom: 25px; padding-left: 7px;">
                                <label class="label lblLogin">Reset Password</label>
                                <br />
                                <label id="Span1" runat="server">
                                    Please provide your details below and an email will be sent to you containing a link that will enable you to reset your password
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="textIcon">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div>
                                    <input id="txbUserName" class="form-control textinput" type="text" autocomplete="off" placeholder="Username" name="username" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="width: 430px;">
                                <div class="divLogin">
                                    <a id="btnResetPassword" class="btn loginButton">Reset Password</a>
                                </div>
                                <div class="divLinks">
                                    <div style="padding-top: 10px;">
                                        <a href="@Url.Action("Login","User")" class="links" id="backToLogin">Back to Login</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.OtherApplication == "0")
    {
        <img src="~/images/image.png" alt="" class="image-grey" />
        <div id="mainouter-reset-password">
            <div class="reset-content">
                <div class="row" style="margin-top: 40%;">
                    <div class="col-md-12" style="background-color: #ffffff; opacity: 0.9; padding-left: 0px; padding-right: 0px; border-radius: 15px !important;">
                        <div class="row" style="padding-top: 15px; text-align: center; vertical-align: middle; line-height: 35px; border-radius: 10px 10px 0px 0px !important">
                            <img src="~/images/0/heading-image.png" />
                        </div>
                        <div id="ErroeMessageRow" class="row" style="text-align: center; vertical-align: middle; line-height: 10px; height: 15px; padding-top: 15px; padding-bottom: 30px;">
                            <div class="col-md-12" style="padding-left: 0px; padding-right: 0px; text-align: center">
                                <span style="font-size: 20px; font-family: Open Sans, sans-serif; line-height: 1.5; color: #672A87">Reset Password</span>
                            </div>
                        </div>
                        <div class="row" style="padding: 0px 10px; text-align: center; padding: 5px 35px 0px 35px; height: 80px">
                            <span style="font-size: 12px; font-family: Open Sans, sans-serif; line-height: 1.5;" id="resetStatus1">
                                Please provide your username below and an email will be sent to you containing a link that will enable you to reset your password
                            </span>
                        </div>
                        <div class="row" style="height: 50px">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8" id="userNameArea1">
                                <div class="form-group" style="background-color: #edeef2;">
                                    <input id="txbUserName" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" />

                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>

                        <div class="row" style="text-align: center; vertical-align: middle; height: 36px">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8 login-button-group">
                                <a class="btn purple" id="btnResetPassword">Reset Password</a>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row" style="text-align: center; vertical-align: middle; padding-bottom: 15px; border-radius: 0px 0px 10px 10px !important;">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8 reset-button-group" style="padding-top: 13px">
                                <a href="/User/Login" id="backToLogin">Back to Login</a>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (ViewBag.OtherApplication == "2")
    {
        <div id="mainouter-reset-password" class="mainouter container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 leftLogo" style="padding-left: 85px; padding-top: 85px;">
                        <div class="row">
                            <img src="~/K6/images/Login/frame.png" alt="" />
                        </div>
                        @*<div class="row" style="padding-top: 15px;">
                                <span class="portalLabel">CIient Access Portal</span>
                            </div>*@
                    </div>
                    <div class="col-md-6" style="text-align: right; padding-right: 85px;">
                        <img id="rightLogo" src="~/K6/images/Login/Gdd-logo.jpg" alt="" />
                    </div>
                </div>
                <div class="row image-container" style="text-align: center;">

                    <div class="col-md-3" id="loginView">

                        <div class="row">
                            <div class="col-md-12" style="padding-bottom: 25px; padding-left: 7px;">
                                <label class="label lblLogin">Reset Password</label>
                                <br />
                                <label id="Span1" runat="server">
                                    Please provide your details below and an email will be sent to you containing a link that will enable you to reset your password
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="textIcon">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div>
                                    <input id="txbUserName" class="form-control textinput" type="text" autocomplete="off" placeholder="Username" name="username" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="width: 430px;">
                                <div class="divLogin">
                                    <a id="btnResetPassword" class="btn loginButton">Reset Password</a>
                                </div>
                                <div class="divLinks">
                                    <div style="padding-top: 10px;">
                                        <a href="@Url.Action("Login","User")" class="links" id="backToLogin">Back to Login</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script>
        $(document).ready(function () {
            $("#btnResetPassword").on("click", function () {
                var userName = $("#txbUserName").val();
                if (userName == '') {
                    toastr.error("Please provide Username");
                    return false;
                }

                $("#btnResetPassword").addClass("disabled");
                $("#btnResetPassword").text("Please Wait...");
                var requestPerameters = {
                    "userName": userName
                };
                var url = '/User/SendResetPasswordLink';
                AjaxPostRequestWithRequestPerameters(url, requestPerameters, function (response) {
                    if (response.Feedback == 'link sent') {
                        toastr.success("Reset password email has been sent successfully.");
                        $("#btnResetPassword").removeClass("disabled");
                        $("#btnResetPassword").text("Reset Password");
                    }
                    else {
                        toastr.error(response.Feedback);
                        $("#btnResetPassword").removeClass("disabled");
                        $("#btnResetPassword").text("Reset Password");
                    }
                });
            });
        });
    </script>
</body>
</html>
