
@{
    ViewBag.Title = ViewBag.AppName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align:center; margin-top:100px;">

    <img src="~/Content/warningIcon.png" style="height:100px; width:100px;" />
    <h2>Resource not found.</h2>

    @*<button type="button" id="previousBtn" class="btn purple" style="display:none;">Go to Previous Page</button>*@

</div>
    

<script>

    //$(document).ready(function(){
    //    $('#previousBtn').click(function () {
    //        parent.history.back();
    //        return false;
    //    });
    //});

</script>